<div id="upload-form" ng-show="isAuthorizedForUpload()">
	<input type="file" id="upload-file-field" ng-file-select="onFileSelect($files)" multiple accept="image/*">
	<div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>
	<div ng-file-drop="onFileSelect($files)" class="drop-zone" ng-file-drag-over-class="drop-zone-active"
	ng-show="dropSupported">
		drop files here
	</div>
	<div ng-file-drop-available="dropSupported=true"
	ng-show="!dropSupported">
		HTML5 Drop File is not supported!
	</div>
	<button ng-click="upload.abort()">
		Cancel Upload
	</button>
</div>
<div class="col-md-12" id="gallery">

	<ul class="list-unstyled">
		<li ng-repeat="image in imageList | orderBy: 'dateTimeOriginal'">
			<img class="img-responsive" ng-src="/api/images/{{image.name}}" />
			<span>{{image.dateTimeOriginal}}</span>
			<div id="controlls-{{image.name}}">
				<button class="btn btn-danger" id="delete" ng-click="delete(image)">
					<span class="glyphicon glyphicon-trash pull-right"></span>
				</button>
			</div>
		</li>
	</ul>
</div>